<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Report</title>
</head>
<body>
    <div class="container">
        <h2>Review Sentiment Analysis Report</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Review Summary</th>
                    <th>Sentiment</th>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                    <tr>
                        <td>{{ review.ProductId }}</td>
                        <td>{{ review.Summary }}</td>
                        <td>{{ review.Sentiment_Label }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="download_report.html" class="btn">Download Report as PDF</a>
    </div>
</body>
</html>
